body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #141e30, #243b55);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 360px;
}

.box, .dashboard {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  text-align: center;
}

h2 {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #243b55;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #141e30;
}

span {
  color: #243b55;
  cursor: pointer;
  font-weight: bold;
}

.hidden {
  display: none;
}

/* TODO */
.todo-input {
  display: flex;
  gap: 10px;
}

.todo-input input {
  flex: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  background: #f1f1f1;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.delete {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.logout {
  margin-top: 15px;
  background: crimson;
}
